@import "../../../scss/index.scss";

.register-form {
  .ant-form-item:last-of-type {
    margin: 0;
  }
  .ant-form-item{
    margin-bottom: 12px;
  }
  .ant-input-suffix{
    margin-right: 4px;
  }
  &__icono-input {
    font-size: 0em +22px / $defaultFontSize;
  }

  &__input {
    padding: 0;
    .ant-input-prefix {
      position: absolute;
      height: 100%;
      margin-left: 10px;
      z-index: 1;
    }

    input {
      font-size: 0em + 20px / $defaultFontSize;
      padding: 5px 10px 5px 40px !important;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }

  &__button {
    width: 100%;
    font-size: 0em + 22px / $defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;
    margin-top: 0px;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }

    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
}
